<header flex>
  <acme-navbar creation-date="main.creationDate"></acme-navbar>
</header>
<md-content layout="row" layout-fill layout-padding>
  
  <!--waiting-list component-->
  <wait-list people="main.waitList" flex="20" class="md-whiteframe-1dp">
    </wait-list>
  <!--<div flex="20" class="md-whiteframe-1dp">
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Waiting List</h2>
      </div>
    </md-toolbar>
    <md-content>
      <md-list>
      
        <md-list-item class="md-2-line" ng-repeat="person in main.waitList">
          <img ng-src="{{person.party.src}}" class="md-avatar" alt="imgh" />
          <div class="md-list-item-text">
            <h3>{{person.name}}</h3>
            <p scm-time-ago unixms="{{person.timestamp}}">{{person.timestamp}}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>-->
    <div flex class="md-whiteframe-1dp padding">

    <md-button ng-hide="main.hideNewplayer()" ng-click="main.newPlayer()" class="md-raised md-primary">
      NEW PLAYER
    </md-button>
    <h4 ng-show="main.hideNewplayer()">you are on the waiting list , be patient, some conter party is coming</h4>

    <md-content id="content" class="animate-slide-up md-background md-hue-1" ui-view="content" flex>
    </md-content>

  </div>
  <!--<div flex class="md-whiteframe-1dp padding">

    <md-button ng-hide="main.hideNewplayer()" ng-click="main.newPlayer()" class="md-raised md-primary">
      NEW PLAYER
    </md-button>
    <h4 ng-show="main.hideNewplayer()">you are on the waiting list , be patient, some conter party is coming</h4>

    <md-content id="content" class="animate-slide-up md-background md-hue-1" ui-view="content" flex>
    </md-content>

  </div>-->
  
  <div flex="30" class="md-whiteframe-1dp">
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Toolbar: md-warn</h2>
      </div>
    </md-toolbar>
    <md-content>
      <md-list>
        <md-subheader class="md-no-sticky">2 line item</md-subheader>
        <md-list-item class="md-2-line">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Republican_Disc.png" class="md-avatar" alt="imgh" />
          <div class="md-list-item-text">
            <h3>sebas</h3>
            <p>Secondary text</p>
          </div>
        </md-list-item>

        <md-toolbar class="md-primary">
          <h2 class="md-toolbar-tools">
                            <span>Inset</span>
                            </h2>
        </md-toolbar>
        <md-divider></md-divider>
        <md-list-item class="md-2-line">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Republican_Disc.png" class="md-avatar" alt="imgh" />
          <div class="md-list-item-text">
            <h3>sebas</h3>
            <p>Secondary text</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>

</md-content>