<header flex>
  <acme-navbar creation-date="main.creationDate"></acme-navbar>
</header>
<md-content layout="row" layout-fill layout-padding>
  <div flex="20" class="md-whiteframe-1dp">
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Waiting List</h2>
      </div>
    </md-toolbar>
    <md-content>
      <md-list>
        <md-subheader class="md-no-sticky">2 line item</md-subheader>
        <!--{{vm | json}}-->
        <md-list-item class="md-2-line">
          <img src="http://static.wixstatic.com/media/adfd82_d0abb0a8dc6948499c46d114dcea8138.png_srz_292_230_85_22_0.50_1.20_0.00_png_srz"
            class="md-avatar" alt="imgh" />
          <div class="md-list-item-text">
            <h3>sebas</h3>
            <p>Secondary text</p>
          </div>
        </md-list-item>

        <md-list-item class="md-2-line" ng-repeat="person in main.waitList">
          <img ng-src="{{person.party.src}}" class="md-avatar" alt="imgh" />
          <div class="md-list-item-text">
            <h3>{{person.name}}</h3>
            <p scm-time-ago unixms="{{person.timestamp}}">{{person.timestamp}}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
    1</div>
  <div flex class="md-whiteframe-1dp padding">

    <md-button ng-click="main.newPlayer()" class="md-raised md-primary">
      NEW PLAYER
    </md-button>
  </div>
  <div flex="30" class="md-whiteframe-1dp">
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Toolbar: md-warn</h2>
      </div>
    </md-toolbar>
    <md-content>
      <md-list>
        <md-subheader class="md-no-sticky">2 line item</md-subheader>
        <md-list-item class="md-2-line">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Republican_Disc.png" class="md-avatar" alt="imgh" />
          <div class="md-list-item-text">
            <h3>sebas</h3>
            <p>Secondary text</p>
          </div>
        </md-list-item>

        <md-toolbar class="md-primary">
          <h2 class="md-toolbar-tools">
                            <span>Inset</span>
                            </h2>
        </md-toolbar>
        <md-divider></md-divider>
        <md-list-item class="md-2-line">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Republican_Disc.png" class="md-avatar" alt="imgh" />
          <div class="md-list-item-text">
            <h3>sebas</h3>
            <p>Secondary text</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>

</md-content>